@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Satisfy&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #242222;
    font-family: "Open Sans", sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    width: 89%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 2em;
    text-align: center;
    border-radius: 15px;
    background-color: darkgray;
    color: #fff;
}

.img-class {
    width: 65%;

}

img {
    width: 100%;
    border-radius: 50%;
}

h3 {
    font-size: 1.8em;
    padding-top: 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.location {
    padding: 0.4em;
    color: green;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
}

.social {
    width: 100%;
    padding: 0.8em;
    border-radius: 5px;
    margin: 0.2em;
    background-color: gray;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.social > a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:focus, a:hover {
    transform: scale(1.15); /* Slightly scale up */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow */
    outline: none; /* Remove default focus outline */
    animation: blink 1s infinite;
  }

@media screen and (min-width: 500px) {
    section {
        width: 75%;
    }
}

@media screen and (min-width: 700px) {
    section {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    section {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    section {
        width: 20%;
        height: 80%;
    }
}

@media screen and (max-height: 800px) {
    section {
        height: 95%;
        margin: 1em;
    }

    .img-class {
        width: 40%;
        padding-top: 2em;
    }

    h3 {
        padding-top: 0.1em;
        font-size: 1.3em;
    }

    .social {
        padding: 0.5em;
    }
}

@media screen and (min-height: 1000px) {
    section {
        height: 65%;
        margin: 1em;
    }

    .img-class {
        width: 40%;
        padding-top: 2em;
    }

    h3 {
        padding-top: 0.1em;
        font-size: 1.3em;
    }

    .social {
        padding: 0.5em;
    }
}